/**
* These are variables used to define the scss elements in the application.
*/


/**
* Typography
*/

// sizes
$title-font-size: 5vw;

// fonts
$verdana-font-family: Verdana, Geneva, sans-serif;

$original-font-family: $verdana-font-family;

/**
* Layout
*/

/**
* Colour Schemes
*/
