@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

.contentPaneMain {
    // flex properties
    display: flex;
    flex-direction: column;

    // position
    position: relative;
    z-index: $main-item-z-index;
    
    // dimensions
    height: 40vmin;

    padding: 1%;

    // styling
    @include themify($themes) {
        background: themed('contentPaneColor');  
    }
}

.primary {
    @extend .contentPaneMain;
    // styling
    @include themify($themes) {
        background: themed('contentPanePrimaryColor');  
    }
}

.secondary {
    @extend .contentPaneMain;
    // styling
    @include themify($themes) {
        background: themed('contentPaneSecondaryColor');  
    }
}