@import '../../styles/variables.scss';
@import '../../styles/themes.scss';

.headerMain {
    // flex properties
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    // position
    position: relative;
    z-index: $main-item-z-index;

    // dimensions
    height: 30vmin;

    padding: 1%;

    // styling
    @include themify($themes) {
        background: themed('headerColor');  
    }
}

.title {
    // flex properties

    // styling
    font-family: $console-font-family;
    font-size: $title-font-size;
    color: #FFFFFF;
}

.skill {
    // flex properties

    // styling
    font-family: $console-font-family;
    font-size: $medium-font-size;
    color: #0FF7FF;
}