@import '../../constants/variables.scss';

.main {
    // flex properties
    display: flex;
    flex-direction: column;
    
    // dimensions
    height: 25%;
    width: 100%;

    // styling
}

.title {
    // flex properties
    align-self: center;

    // styling
    font-family: $original-font-family;
    font-size: $title-font-size;
    color: #FFFFFF;
}
